@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  
  background-color: #DDECEE;
  color: #707070;
  overflow-x: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar-track {
  background: #C3D0DA; 
}
::-webkit-scrollbar-thumb {
  background: #7A93A6;
}
::-webkit-scrollbar-thumb:hover {
  background: #7A93A6;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}